/* Barry's Bailiwick ccs definition */
/* (c) Barry Bridgens 2013 */

#header {
	font-size: large;
	color: blue;
	text-align: center;
}

#main {
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

#footer {
	text-align: center;
	padding-top: 50px;
	color: grey;
	font-size: 0.75em;
}

#menu {
	/*background-color: #aabbcc;*/
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	text-align:justify;
	border-width: 3px;
	border-top-style: solid;
	border-bottom-style: solid;
}

#menu a {
	text-decoration: none;
	color: black;
}

#centred {
	text-align: center;
}

